# PostgreSQL
POSTGRES_USER=recruitment
POSTGRES_PASSWORD=recruitment
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_DEFAULT_USER=recruitment
RABBITMQ_DEFAULT_PASS=recruitment
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# MinIO
MINIO_ROOT_USER=recruitment
MINIO_ROOT_PASSWORD=recruitment
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Mailpit
MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025
